.card {
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;
    width: 80%;
    flex: 80%;
  
    &:last-child {
      padding-bottom: 0px;
    }
  
  }  
  
  @media screen and (max-width: 640px) {
    .card{
      flex: 1 0 80%;
    }
  }
  
  