.makeStyles-paper-16{
  min-height: 48%;
  background-color: lightgreen;
}
.chart {
    width: 20%;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    flex: 20%;
  
    .portfolioChart {
      padding: 8px 0 0 8px;
      margin: 4px;
      width: 80%;
      background-color: red;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    
      .header {
        display: flex;
        justify-content: flex-start;
        font-size: 1.8rem;
        font-weight: 600;
        color: #000000;
      }
    
      .select {
        font-size: .5rem;
        font-weight: 400;
        color: #000000;
        background: transparent;
        border: none !important;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }
    }  
  }
  
  .recharts-legend-wrapper {
    top: 183px !important;
  }
  
  
  @media screen and (max-width: 640px) {
    .chart{
      flex: 1 0 20%;
    }
    .recharts-legend-wrapper {
      top: 100px !important;
      right: -60px !important;

    }
  }