.home-page {
    display: flex;
    width: 100%;
    background-color:#e6e6e6;
    min-height: 93vh;
  }
  
  @media screen and (max-width: 640px) {
    .home-page {
      flex-wrap: wrap;
    }  
   
  }  